.loader {
  border: 16px solid #fcfbfb; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  justify-items: center;
  top: 50px;
  left: 500px;
  z-index: 2;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loaderbg{
  display: none;
  width: 96.7%;
  height: 2.8%;
  position: absolute;
  z-index: 1;
  opacity: 30%;
  background-color: #9ea0a0;
border-radius: 5px;
}
